<h1>  Showing articles </h1>

<p> Title : <%= @article.title%><p>
<p> Description : <%= @article.description %> <p>

<p> 
    <button > <%= link_to 'Back', articles_path %></button>
    <button > <%= link_to 'Edit', edit_article_path(@article)   %> </button>
    <button ><%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm:"are you sure?" }%></button>

</p>